include LICENSE
include README.md
include pyproject.toml
include requirements.txt
include setup.py
include tests/*.py
include textgraphs/*.py
prune .ipynb_checkpoints
prune .mypy_cache
prune .pre-commit-config.yaml
prune docs
prune lib
prune s2v_old
prune venv
