# this is required and used for specifically HF Spaces deployment, not PyPi

spacy >= 3.7
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl

git+https://github.com/thunlp/OpenNRE

beautifulsoup4 >= 4.12
GitPython >= 3.1
icecream >= 2.1
markdown2 >= 2.4
matplotlib >= 3.8
networkx >= 3.2
pulp >= 2.7
pyinstrument >= 4.6
pyvis >= 0.3
qwikidata >= 0.4
spacy-dbpedia-spotlight >= 0.2.6
span_marker >= 1.5
transformers >= 4.35
wordcloud >= 1.9
